<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
  	<!-- This is the configuration for the FastCGI module           -->
  	<!-- The configuration  cannot be made in the web.config due to -->
  	<!-- security restrictions and needs to be done in the server   -->
  	<!-- manager at the applicationHost.config level.               -->
  	<!-- It's included here for reference                           -->
  	<!--
  	<?xml version="1.0" encoding="UTF-8"?>
    <fastCgi>
        <application fullPath="C:\Python27\python.exe" arguments="-O d:\website\esplayer\esplayer\conf\fcgi.py" monitorChangesTo="d:\python\esplayer\esplayer\conf\fcgi.py" stderrMode="ReturnStdErrIn500" maxInstances="25" idleTimeout="300" activityTimeout="30" requestTimeout="30" instanceMaxRequests="200" protocol="NamedPipe" queueLength="1000" flushNamedPipe="false" rapidFailsPerMinute="10" />
    </fastCgi>
  	-->
    <handlers>
	  <clear/>
      <!-- <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="D:\python\App\python.exe|d:\sites\esplayer\esplayer\scripts\manage.py fcgi" resourceType="Unspecified" requireAccess="Script" /> -->
      <add name="FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="d:\python\app\python.exe|d:\sites\esplayer\esplayer\manage.py fcgi --pythonpath=d:\sites\esplayer --settings=esplayer.settings" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
  </system.webServer>
</configuration>
